/* Billing */

#order_review .shop_table {
    width: 100%;
  }
  
  
  
  
  
  
  
  #stripe-payment-data p {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  #payment {
    margin-top: 80px;
  }
  
  #payment ul {
    list-style: none;
    padding-left: 0;
  }
  
  .wc_payment_method label, 
  .woocommerce-PaymentMethod label
  {
    width: 100%;
  }
  
  .wc_payment_method label,
  .woocommerce-PaymentMethod label
  {
    display: inline;
  }
  
  #payment .form-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 1rem !important;
  }
  
  #payment .form-row abbr{
    color: #EC9598;
    text-decoration: none;
    cursor: initial;
  }
  
  #payment .form-row-wide, 
  #payment .form-row-wide > div {
    width: 100%;
    clear: both;
  }
  
  #stripe-exp-element {
    width: 70px;
  }
  #stripe-cvc-element {
    width: 50px;
  }
  
  
  #payment .form-row label,
  #payment .form-row .woocommerce-input-wrapper,
  #payment .form-row .woocommerce-input-wrapper input
  {
    width: 100%;
    display: block;
  }
  
  #payment .form-row label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #00141A;
  }
  
  
  #payment .form-row input::placeholder {
    color: #ABBCC1;
  }
  #payment .form-row input,
  #payment .form-row .select2
  {
    border: 1px solid #ABBCC1;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 8px 16px;
  }
  
  
  
  
  
  
  
  
  
  .intra-form .form-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 3rem !important;
  }
  
  .intra-form .form-row abbr{
    color: #EC9598;
    text-decoration: none;
    cursor: initial;
  }
  
  .intra-form .form-row-wide {
    width: 100%;
    clear: both;
  }
  
  
  .intra-form .form-row label,
  .intra-form .form-row .woocommerce-input-wrapper,
  .intra-form .form-row .woocommerce-input-wrapper input
  {
    width: 100%;
    display: block;
  }
  
  .intra-form .form-row label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #00141A;
  }
  
  
  .intra-form .form-row input::placeholder {
    color: #ABBCC1;
  }
  .intra-form .form-row input,
  .intra-form .form-row .select2
  {
    border: 1px solid #ABBCC1;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 8px 16px;
  }
  
  .select2-selection {
    border: 0 !important;
    margin-top: -2px !important;
    margin-bottom: -2px !important;
  }
  
  .intra-form .password-input {
    width: 100%;
  }
  
  .intra-account-content a {
    text-decoration: underline;
  }
  
  
  @media screen and (min-width: 768px) {
  
    .intra-billing-fields #billing_city_field, 
    .intra-billing-fields #billing_state_field, 
    .intra-billing-fields #billing_postcode_field 
    {
        width: 33%;
    }
  
    .intra-billing-fields #billing_city_field {
      padding-right: 20px;
    }
  
    .intra-billing-fields #billing_state_field {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .intra-billing-fields #billing_postcode_field {
      padding-left: 20px;
    }
  
  }
  
  
  
  .intra-additional-fields #order_comments_field {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  .intra-additional-fields #order_comments_field label{
    width: 100%;
    clear: both;
    margin-bottom: .7rem !important;
  }
  
  .intra-additional-fields #order_comments_field .woocommerce-input-wrapper {
    width: 100%;
  }
  
  .intra-additional-fields #order_comments_field textarea{
    min-height: 136px;
    width: 100%;
    border: 1px solid #ABBCC1;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 8px 16px;
  }
  
  .intra-additional-fields #order_comments_field textarea::placeholder {
    color: #ABBCC1;
  }
  
  