/* Navbar */


.intra-logo-header {
    font-family: KoHo, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    color: #00141A;
  }
  .intra-logo-header-iv {
    color: #00141A;
  }
  
  
  
  
  
  
  
  
  
  
  .navbar-toggler {
    border: 0 !important;
  }
  
  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
  
  .nav-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #00141A;
  }
  
  
  
  
   /*Scrolled navbar*/
  .navbar.fixed-top.scrolled{
    background-color: #000000 !important;
    transition: background-color 250ms linear !important;
    color: #FFFFFF !important;
  }
  
  .navbar.fixed-top.scrolled .nav-link{
    color: #FFFFFF !important;
  }
  
  .navbar.fixed-top.scrolled .nav-item.active span {
    border-bottom: 1px solid #FFFFFF !important;
  }
  
  .navbar.fixed-top.scrolled .intra-logo-header
  {
    color: #FFFFFF;
  }
  
  .navbar.fixed-top.scrolled .intra-logo-header-iv
  {
    background: linear-gradient(90deg, #6AD5F6 0%, #8AEE93 49.48%, #F2FB83 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  
  
  
  
   /*Shop Catalog Home and other Main pages*/
  .page .nav-item.active span,
  .error404 .nav-item.active span 
  {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 4px;
  }
  .page .nav-link,
  .error404 .nav-link
  {
    color: #FFFFFF !important;
  }
  .page .intra-logo-header,
  .error404 .intra-logo-header
  {
    color: #FFFFFF;
  }
  .page .intra-logo-header-iv,
  .error404 .intra-logo-header-iv
  {
    background: linear-gradient(90deg, #6AD5F6 0%, #8AEE93 49.48%, #F2FB83 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /*Product Pages*/
  .single-product .nav-link,
  .intra-slug-my-account .nav-link
  {
    color: #000000 !important;
  }
  .intra-slug-my-account .intra-logo-header,
  .intra-slug-my-account .intra-logo-header-iv
  {
    color: #000000;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    background: none;
  }
  
  
  
  
  /*For closed cart workflow*/
  
  /*.intra-slug-checkout .nav-item, 
  .intra-slug-cart .nav-item
  {
    display: none;
  }
  .intra-slug-checkout .intra-nav-cancel-booking, 
  .intra-slug-cart .intra-nav-cancel-booking
  {
    display: list-item !important;
  }
  */
  
  
  @media (min-width: 576px) {
    .nav-item.active span {
      border-bottom: 1px solid #00141A;
      padding-bottom: 11px;
    }
  
  }
  @media (min-width: 768px) {
  
  }
  @media (min-width: 992px) {
  
  }
  @media (min-width: 1200px) {
  
  }
  
  
  
  /*Mobile Only*/
  @media (max-width: 767px) {
  
    .page .navbar, 
    .error404 .navbar
    {
      background-color: #000000 !important;
      transition: background-color 250ms linear !important;
      color: #FFFFFF !important;
    }
  
    .single .navbar {
      background-color: #000000 !important;
      transition: background-color 250ms linear !important;
      color: #FFFFFF !important;
    }
  
    .single .intra-logo-header,
    .single .nav-link
    {
      color: #FFFFFF !important;
    }
  
    .single .intra-logo-header span {
      background: linear-gradient(90deg, #6AD5F6 0%, #8AEE93 49.48%, #F2FB83 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
  }