/*Table Styles*/

.shop_table {
    width: 100%;
  }
  
  .intra-table .woocommerce-placeholder {
    display: none;
  }
  
  .intra-table td,
  .intra-table th,
  .shop_table td,
  .shop_table th
  {
    border: 1px solid #ABBCC1;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 4px 8px;
    font-weight: normal !important;
  }
  
  
  
  .intra-table-cart-totals th,
  .intra-table-checkout-totals th,
  .intra-table-order-details th
  {
    width: 100%;
  }
  .intra-table-cart-summary .product-name {
    width: 100%;
  }
  
  
  
   /* Recurring totals subsection of table */
   /* Create space to appear as a subtitle */
  .intra-table-cart-totals .recurring-totals th,
  .intra-table-checkout-totals .recurring-totals th
  {
    border: 0;
    padding-left: 0;
    padding-top: 40px;
  }
  
  /* Initial mobile table cleanup and tweaks */
  /* Mobile table styles for these tables still need work */
  .intra-table-cart-summary {
    border-collapse: separate;
    border-spacing: 0 2em;
  }
  
  .intra-table-cart-summary .product-thumbnail {
    text-align: center;
  }
  
  @media (min-width: 768px) {
  
    .intra-table-cart-summary {
      border-collapse: collapse;
      border-spacing: initial;
    }
  
    .intra-table-cart-summary .product-thumbnail {
      text-align: right;
    }
  
    .intra-table td,
    .intra-table th,
    .shop_table td,
    .shop_table th
    {
      padding: 8px 16px;
    }
  
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*Misc*/
  
  
  
  
  /* product images */
  .intra-table .product-thumbnail img {
    width: 100%;
    height: 100%;
  }
  
  .intra-table .product-thumbnail a {
    display: inline-block;
    width: 140px;
    height: 140px;
    padding: 20px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  
  
  
  
  
  
  /*Fix weird thing next to product thumbnail*/
  .intra-table-cart-summary .product-thumbnail::before {
    content: none;
  }
  
  
  
  .intra-table-cart-summary tbody tr:last-child {
    display: none;
  }
  
  
  /* "Remove Product" Button */
  .intra-table .product-remove {
    font-size: 20px;
    text-align: center;
  }
  .intra-table .product-remove a{
    color: #EC9598;
    font-weight: bold;
    text-decoration: none;
  }
  .intra-table .product-remove a:hover{
    color: EC9598;
  }
  
  /* Hide empty Cancel column from Bookings Tables (e.g. My-Account) */
  .intra-table .booking-cancel {
    display: none;
  }